@import "./normalize.css";

:root {
  --color-text:#2e2e2e;
  --color-high-text: #ff5777;
  --color-tint:#ff8198;
  --color-background:#fff;
  --font-size:14px;
  --line-height:1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","微软雅黑",Arial,sans-serif;
  user-select: none;
  background: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear:both;
  content:'';
  display:block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom:1;
}

.left {
  float:left;
}

.right {
  float:right;
}

.w {
  width: 1400px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

